body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}
.yn {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    transition: all 0.3s ease;
    margin-left: 40%;
}
.yn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));

}
#no {
    margin-left: -10px;
}
#noSB {
   margin-left: 150px;
   margin-right: 10px;
}
input[type="radio"] {
    appearance:none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 20%;
    background: white;
    border-color: #8bdde7;
}
input[type="radio"]:checked {
    background: rgb(145, 201, 232);
    border-color: rgb(145, 201, 232);
}
#h2{
    display:block;
    color :brown;
    font-family: lucida , monospace;
    text-align: center;
    margin-top: 30px;
    background-color: #6bb9d3;
    padding-top:15px;
    padding-bottom:15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#pp{
    display:block;
    color :brown;
    font-family: lucida , monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
#try{
    display:block;
    color :brown;
    background-color: lightyellow;
    font-family: lucida , monospace;
    border-radius: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
#counting{
    display:flex;
    font-family: lucida , monospace;
    font-weight: bold;
    margin-left: 68em;
    font-size: 20px;
    color: rgb(211, 235, 72);
    margin-top: -60px;
    margin-bottom: 60px;
    border: 2px solid rgb(19, 106, 200);
    margin-right:8%;
    padding-left:15px;
    padding-right:1px;
    border-radius: 10px;
    padding-bottom: 10px; 
    padding-top: 10px;
    background-color: rgb(19, 106, 200);
}
#start{
    margin-left:45%;
    visibility: hidden;
}
.custom-loader {
    display: block;
    margin-left: 49%;
    margin-right: auto;
    margin-top: 10px;
  width:50px;
  height:50px;
  border-radius:50%;
  color:#766DF4;
  background: 
    linear-gradient(currentColor 0 0) center/100% 4px,
    linear-gradient(currentColor 0 0) center/4px 100%,
    radial-gradient(farthest-side,#0000 calc(100% - 6px),currentColor calc(100% - 5px)),
    radial-gradient(circle 6px,currentColor 94%,#0000 0);
  background-repeat: no-repeat;
  animation:s10 2s infinite linear;
  position: relative;
  visibility: hidden;
}
.custom-loader:before {
  content: "";
  position: absolute;
  inset:0;
  border-radius: inherit;
  background:inherit;
  transform:rotate(45deg);
}
@keyframes s10 {to{transform: rotate(.5turn)}}
#think{
    display:block;
    color :brown;
    background-color: lightyellow;
    font-family: lucida , monospace;
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    opacity: 0;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
#trickbt1{
    margin-left:48%;
    margin-bottom: 15px;
    visibility: hidden;
}
#trick{
    margin-left:48%;
    margin-bottom: 15px;
    visibility: hidden;
}
#trick2{
    margin-left:49%;
    margin-bottom: 15px;
    visibility: hidden;
    margin-top: 0px;
}
#span1{
    display:block;
    position:absolute;
    right:30%;
    bottom:auto;
    font-family: lucida , monospace;
    font-weight: bold;
    color: rgb(146, 134, 9);
    width: 200px;
    text-align: center;
    font-size: 20px;
    background-color: lightyellow;
    border:solid 5px;
    border-image:linear-gradient(to right , rgb(221, 221, 146),lightblue) 1 1 1 1;
    visibility: hidden;
}
#continue{
    display: block;
    position:absolute;
    left:56.2%;
    bottom:auto;
    font-family: lucida , monospace;
    font-weight: bold;
    color: rgb(27, 130, 122);
    width: 210px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(163, 223, 135);
    border:solid 5px;
    border-image:linear-gradient(to right , rgb(12, 162, 77),rgb(31, 151, 190)) 1 1 1 1;
    margin-top: 10px;
    visibility: hidden;
}